# https://caddyserver.com/docs/caddyfile/concepts#environment-variables

:{$CADDY_CONTAINER_PORT} {
    handle /outcomes* {
        reverse_proxy go-app:8080
    }

    handle {
        reverse_proxy app:{$APP_CONTAINER_PORT}
    }
}